if TARGET_MX6_IWG15M_SM	

config SYS_BOARD
	default "mx6_iwg15m_sm"

config SYS_VENDOR
	default "freescale"

config SYS_SOC
	default "mx6"

config SYS_CONFIG_NAME
	default "mx6_iwg15m_sm"

config SYS_TEXT_BASE
	default 0x17800000

endif
